/* ==========================================================================
   Definition
   ========================================================================== */
body {
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: normal;
}

/* ==========================================================================
   Sizes
   ========================================================================== */
body {
	@include font-size(1.4);
	line-height: 1.375;	
}


/* ==========================================================================
   Colors
   ========================================================================== */
body {
	color: $black;
}
/* ==========================================================================
   Various styles
   ========================================================================== */
em, 
address {
	font-style: normal;
}

p {
	margin: 0 0 18px 0;
}